/*CSS reset settings here*/
* {
  margin: 0px;
  padding: 0px;
}
#wrapper {
  width: 920px;
  background-color: silver;
  padding: 10px 20px 10px 20px;
}
#header {
  min-height: 150px;
  background-color: green;
  margin: 20px auto;
}
#navigation {
  min-height: 300px;
  width: 200px;
  background-color: blue;
  vertical-align: auto;
  display: inline-block;
}
#main_content {
  min-height: 400px;
  width: 700px;
  background-color: red;
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  text-align: center;
}
.subcontents {
  min-height: 200px;
  width: 210px;
  background-color: yellow;
  margin: 20px auto;
  display: inline-block;
}
#advertisement {
  min-height: 120px;
  width: 660px;
  background-color: purple;
  display: inline-block;
}
